.font-size-grande {
  font-size: 40px;
}

.font-size-mediano, #main_index .textoSobreEl .infoPersona .subtitulo {
  font-size: 30px;
}

.font-size-chico {
  font-size: 20px;
}

@keyframes fade-in {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  list-style: none;
  text-decoration: none;
}

.cuerpo {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color: whitesmoke;
  font-family: "Orbitron", sans-serif;
}

h3 {
  font-family: "Orbitron", sans-serif;
}

a {
  text-decoration: none;
}

.logoMessi {
  height: 100px;
}

li:hover {
  transform: scale(1.2);
}

li a:after {
  content: "";
  position: relative;
  background-color: rgb(9, 153, 215);
  height: 3px;
  width: 0;
  display: block;
  transition: 0.3s;
}

a:hover:after {
  color: rgb(9, 153, 215);
  width: 100%;
}

#footer {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  border-top: solid whitesmoke;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.redSocial {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  height: 4vh;
}

#main_index {
  animation-name: fade-in;
  animation-duration: 1s;
}
#main_index .textoJugador {
  height: 650px;
  border-bottom: 4px solid whitesmoke;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "quien" "textojugadoruno" "actualidad" "textojugadordos";
}
#main_index .textoJugador .texto1jugador {
  grid-area: textojugadoruno;
}
#main_index .textoJugador .actualidad {
  grid-area: actualidad;
}
#main_index .textoJugador .actualidad .textoPrincipalIndex {
  padding: 2%;
  font-style: normal;
}
#main_index .textoJugador .texto2jugador {
  grid-area: textojugadordos;
}
#main_index .textoJugador .texto2jugador .ajusteTextoIndex1 {
  padding: 0%;
  size: 10px;
}
#main_index .textoSobreEl {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: " textoMessiPersonal1 textoMessiPersonal1" "textoMessiPersonal2 fotoPersonal";
  row-gap: 1px;
  border-top: 4px solid whitesmoke;
}
#main_index .textoSobreEl .infoPersona {
  grid-area: textoMessiPersonal1;
}
#main_index .textoSobreEl .infoPersona .subtitulo {
  margin-bottom: 20px;
  color: black;
}
#main_index .textoSobreEl .infoPersona .infopersonal {
  padding: 1%;
}
#main_index .textoSobreEl .infoPersona2 {
  grid-area: textoMessiPersonal2;
  display: flex;
  justify-content: center;
}
#main_index .textoSobreEl .infoPersona2 .infopersonal {
  padding: 1%;
}
#main_index .textoSobreEl .messiFamilia {
  grid-area: fotoPersonal;
  display: flex;
  justify-content: center;
  margin: 5px;
}
#main_index .textoSobreEl .messiFamilia .messiFamiliaImg {
  height: 600px;
  padding: 5%;
}

.cuerpo {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
.cuerpo .quienEs {
  grid-area: quien;
}
.cuerpo .quienEs .subtitulo {
  margin-bottom: 20px;
  color: black;
  font-size: 30px;
}
.cuerpo .texto1jugador {
  grid-area: textojugadoruno;
}
.cuerpo .texto1jugador .textoPrincipalIndex {
  padding: 2%;
  font-style: normal;
}
.cuerpo .actualidad {
  grid-area: actualidad;
}
.cuerpo .actualidad .textoPrincipalIndex {
  padding: 2%;
  font-style: normal;
}
.cuerpo .texto2jugador {
  grid-area: textojugadordos;
}
.cuerpo .texto2jugador .ajusteTextoIndex1 {
  padding: 0%;
  size: 10px;
}
.cuerpo .indexfotosinfo {
  background-image: url("../img/fondo.jpg");
  background-position: center;
  width: 100%;
}
.cuerpo .indexfotosinfo .subtitulo {
  margin-bottom: 20px;
  color: black;
  font-size: 30px;
}
.cuerpo .indexfotosinfo .galeriaFotos {
  color: white;
}
.cuerpo .indexfotosinfo #grid_container_fotos_index {
  display: grid;
  row-gap: 5px;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-template-areas: "div1" "div2   ";
}
.cuerpo .indexfotosinfo #grid_container_fotos_index .fotos1 {
  grid-area: div1;
  display: flex;
  columns: raw;
  padding-left: 40px;
}
.cuerpo .indexfotosinfo #grid_container_fotos_index .fotos2 {
  grid-area: div2;
  display: flex;
  columns: raw;
  padding-left: 40px;
}
.cuerpo .fotos {
  height: 40vh;
}
.cuerpo .videosGrid {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr;
  grid-template-areas: "titulovideo" "videos";
}
.cuerpo .videosGrid .videostitulo {
  grid-area: titulovideo;
  height: 20px;
}
.cuerpo .videosGrid .videostitulo .subtitulo {
  margin-bottom: 20px;
  color: black;
  font-size: 30px;
}
.cuerpo .videosGrid .videosIndex {
  grid-area: videos;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 5px;
  padding: 5px;
}
@media screen and (max-width: 1440px) {
  .cuerpo .desaparecer1024 {
    display: none;
  }
  .cuerpo .fotos {
    width: 600px;
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .cuerpo .fotos {
    width: 450px;
    height: auto;
  }
  .cuerpo .desaparecer1024 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .cuerpo .video3 {
    display: none;
  }
  .cuerpo .video2 {
    display: none;
  }
  .cuerpo .messiFamiliaImg {
    width: 450px;
  }
  .cuerpo .fotos {
    width: 350px;
  }
  .cuerpo .desaparecer768 {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .cuerpo .desaparecer {
    display: none;
  }
  .cuerpo .fotos {
    height: 250px;
    margin: 0%;
    width: 250px;
  }
  .cuerpo #grid_container_index {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "headerindex" "mainindex" "footerindex";
  }
  .cuerpo #grid_container_index #headerindex {
    grid-area: headerindex;
  }
  .cuerpo #grid_container_index #main_index {
    grid-area: mainindex;
  }
  .cuerpo #grid_container_index .textoJugador {
    justify-content: center;
    width: 100%;
    height: 550px;
  }
  .cuerpo #grid_container_index .indexfotosinfo {
    width: 100%;
    height: 700px;
    margin: 0%;
  }
  .cuerpo #grid_container_index .indexfotosinfo #grid_container_fotos_index {
    margin: 0%;
    justify-content: center;
    padding: 10px;
    height: 600px;
  }
  .cuerpo #grid_container_index .textoSobreEl {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: " textoMessiPersonal1 textoMessiPersonal1" "textoMessiPersonal2 fotoPersonal";
    row-gap: 1px;
    border-top: 4px solid whitesmoke;
  }
  .cuerpo #grid_container_index .textoSobreEl .messiFamilia {
    grid-area: messifotofamilia;
  }
  .cuerpo #grid_container_index .textoSobreEl .messiFamilia .messiFamiliaImg {
    height: 300px;
    width: 300px;
  }
  .cuerpo #grid_container_index .videosGrid {
    width: 100%;
  }
  .cuerpo #grid_container_index .videosGrid .videosIndex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
  }
  .cuerpo #grid_container_index .videosGrid .videosIndex .video3 {
    display: none;
  }
  .cuerpo .messiArgentina {
    flex-direction: column;
  }
  .cuerpo .messiArgentina .subtituloArgentina {
    padding: 0;
    padding-top: 10px;
    margin: auto;
  }
  .cuerpo .messiArgentina .textoSeleccion {
    padding: 30px;
    font-size: 17px;
  }
  .cuerpo .messiArgentina .messiArgentinaseleccion {
    margin: auto;
  }
  .cuerpo .info {
    padding-bottom: 10px;
  }
  .cuerpo .info .informacionTextoSeleccion {
    padding: 0;
  }
  .cuerpo .info .imagenInfoGeneral {
    width: 400px;
  }
  .cuerpo .carouselSeleccion {
    width: 400px;
    margin: auto;
    height: 600px;
  }
  .cuerpo .carouselSeleccion .carouselFotoSeleccion {
    height: 600px;
    width: 400px;
  }
}

@media screen and (max-width: 320px) {
  #headerindex {
    grid-area: headerindex;
  }
  #main_index {
    grid-area: mainindex;
  }
  #footer {
    grid-area: footerindex;
    padding-bottom: 2%;
  }
  #grid_container_index {
    width: 100%;
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "headerindex headerindex headerindex" "mainindex mainindex mainindex" "footerindex footerindex footerindex";
  }
  /*index 1 */
  .textoJugador {
    justify-content: center;
    width: 100%;
  }
  .textoJugador .texto2jugador {
    height: 350px;
  }
  .textoJugador .texto2jugador .aaa {
    height: 300px;
  }
  .fotos {
    height: 250px;
    margin: 0%;
    width: 250px;
  }
  .indexfotosinfo {
    width: 100%;
    height: 700px;
    margin: 0%;
  }
  #grid_container_fotos_index {
    margin: 0%;
    justify-content: center;
    padding: 10px;
    height: 600px;
  }
  /* index 3 */
  .messiFamilia {
    grid-area: messifotofamilia;
  }
  .messiFamiliaImg {
    height: 300px;
    width: 300px;
    display: none;
  }
  .textoSobreEl {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: " textoMessiPersonal1" "textoMessiPersonal2" "messifotofamilia";
    width: 100%;
  }
  .videosGrid {
    width: 100%;
  }
  .video3 {
    display: none;
  }
  .videosIndex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
  }
}
.equiposMain {
  animation-name: fade-in;
  animation-duration: 1s;
}
.equiposMain .grid_listaEquipos {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: "tituloequipo tituloequipo" "equipostres equipostres";
  background-image: url("../img/fondo.jpg");
  background-position: center;
  width: 100%;
}
.equiposMain .grid_listaEquipos .equipos1 {
  grid-area: tituloequipo;
}
.equiposMain .grid_listaEquipos .equipos1 .equiposClass {
  font-family: "Libre Franklin", sans-serif;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}
.equiposMain .grid_listaEquipos .equipos2 {
  grid-area: equipostres;
  display: flex;
  justify-content: center;
}
.equiposMain .grid_listaEquipos .equipos2 ul {
  display: flex;
  flex-direction: row;
}
.equiposMain .grid_listaEquipos .equipos2 ul li {
  display: flex;
  justify-content: center;
  flex-direction: space-around;
  padding-right: 150px;
  color: whitesmoke;
}
.equiposMain .grid_listaEquipos .equipos2 ul li a {
  color: whitesmoke;
}
.equiposMain .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.equiposMain .container .equipo {
  font-size: 50px;
  width: auto;
  font-style: italic;
  text-align: center;
}
.equiposMain .messijoven {
  height: 400px;
  margin: auto;
  display: flex;
}
.equiposMain .columnaTextoBarca {
  font-size: 20px;
}
.equiposMain .columnaTextoBarca .barcaTexto {
  display: flex;
  flex-direction: row;
}
.equiposMain .columnaTextoBarca .barcaTexto p {
  padding: 5%;
}
.equiposMain .columnaTextoBarca .messiClub1 {
  height: 300px;
}
.equiposMain .columnaTextoBarca .messiClub2 {
  height: 300px;
}
.equiposMain .columnaTextoBarca .messiClub3 {
  height: 400px;
  margin: auto;
  display: flex;
}
.equiposMain .columnaTextoBarca .messiFotosClubesBarca {
  text-align: center;
}
.equiposMain .newellsTitulo {
  margin: auto;
}
.equiposMain .infonewells {
  margin: auto;
  padding-top: 100px;
  text-align: justify;
}
.equiposMain .messiParisFirma {
  height: 450px;
}
.equiposMain .messijugandopsg {
  height: 450px;
}
.equiposMain .messinewellscomienzo {
  height: 300px;
}

@media screen and (max-width: 768px) {
  .desaparecer768 {
    display: none !important;
  }
  .grid_listaEquipos {
    width: 100%;
  }
  .clubesTituloInicio {
    width: 100%;
  }
  .gridClubesNewells {
    width: 700px;
  }
  .gridClubesNewells .newellsDiv {
    flex-direction: column;
  }
  .gridClubesNewells .equipo {
    font-size: 20px;
    width: 100px;
    margin: 0px;
  }
  .gridClubesNewells .fotonewells1 {
    display: none;
  }
  .gridClubesNewells .messinewellscomienzo {
    height: auto;
  }
  .gridClubesNewells .infonewells {
    padding-top: 10px;
  }
  .gridClubesNewells .infonewells .textoNewells {
    font-size: 15px;
    text-align: justify;
  }
  .columnaTextoBarca {
    font-size: 15px;
  }
  .columnaTextoBarca .messijoven {
    display: inline;
    margin: 25px;
  }
  .columnaTextoBarca .textoBarca {
    font-size: 15px;
    padding: 5px;
    padding-bottom: 10px;
  }
  .columnaTextoBarca .messijovenDiv {
    width: auto;
  }
  .columnaTextoBarca .messiClub2 {
    height: 100px;
  }
  .columnaTextoBarca .messiClub1 {
    height: 200px;
  }
  .columnaTextoBarca .messiFotosClubesBarca {
    display: none;
  }
  .containerparis {
    flex-direction: column;
  }
  .containerparis .texotParis {
    font-size: 15px;
    padding: 5px;
  }
  .containerparis .fotosparis {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .containerparis .messijugandopsg {
    height: 450px;
    width: 360px;
    margin: 10px;
  }
  .containerparis .messiParisfirmando {
    display: none;
  }
  .parisTitulo {
    display: flex;
    justify-content: center;
  }
  .desaparecer {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .grid_listaEquipos {
    width: 426px;
  }
  .clubesTituloInicio {
    width: 300px;
  }
  .gridClubesNewells {
    width: 400px;
  }
  .gridClubesNewells .equipo {
    font-size: 20px;
    width: 100px;
    margin: 0px;
  }
  .gridClubesNewells .messinewellscomienzo {
    height: 300px;
  }
  .gridClubesNewells .infonewells {
    padding-top: 10px;
  }
  .gridClubesNewells .infonewells .textoNewells {
    font-size: 15px;
    text-align: justify;
  }
  .newellsDiv {
    flex-direction: column;
  }
  .columnaTextoBarca {
    font-size: 15px;
  }
  .columnaTextoBarca .textoBarca {
    font-size: 15px;
    padding: 5px;
    padding-bottom: 10px;
  }
  .columnaTextoBarca .messiClub2 {
    height: 100px;
  }
  .columnaTextoBarca .messiClub1 {
    height: 200px;
  }
  .columnaTextoBarca .messiFotosClubesBarca {
    display: none;
  }
  .containerparis {
    flex-direction: column;
  }
  .containerparis .texotParis {
    font-size: 15px;
    padding: 5px;
  }
  .containerparis .fotosparis {
    display: flex;
    flex-direction: row;
  }
  .containerparis .fotosparis .messijugandopsg {
    width: 300px;
  }
  .containerparis .fotosparis .messiParisFirma {
    width: 300px;
  }
  .containerparis .messiParisfirmando {
    display: none;
  }
  .parisTitulo {
    display: flex;
    justify-content: center;
  }
  .desaparecer {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .grid_listaEquipos {
    width: 100%;
  }
  .clubesTituloInicio {
    width: 300px;
  }
  .gridClubesNewells {
    width: 100%;
  }
  .gridClubesNewells .equipo {
    font-size: 20px;
    width: 100px;
    margin: 0px;
  }
  .gridClubesNewells .infonewells {
    padding-top: 10px;
  }
  .gridClubesNewells .infonewells .textoNewells {
    font-size: 15px;
    text-align: justify;
  }
  .newellsDiv {
    flex-direction: column;
  }
  .columnaTextoBarca {
    font-size: 15px;
  }
  .columnaTextoBarca .messiClub2 {
    height: 200px;
  }
  .columnaTextoBarca .messiClub1 {
    height: 200px;
  }
  .columnaTextoBarca .textoBarca {
    font-size: 15px;
    padding: 5px;
    padding-bottom: 10px;
  }
  .messiFotosClubesBarca {
    display: none;
  }
  .parisTitulo {
    display: flex;
    justify-content: center;
  }
  .containerparis {
    width: 320px;
  }
  .containerparis .texotParis {
    width: 310px;
    font-size: 15px;
    padding: 5px;
  }
  .containerparis .fotosParisDiv {
    margin: auto;
    padding: auto;
  }
  .containerparis .fotosParisDiv .fotosparis {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .containerparis .fotosParisDiv .messiParisFirma {
    display: none;
  }
  .desaparecer {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .columnaparis {
    padding: 0;
  }
  .containerparis1 {
    padding: 0 !important;
  }
  .desaparecer {
    display: none !important;
  }
  .grid_listaEquipos {
    width: 100%;
  }
  .clubesTituloInicio {
    width: 300px;
  }
  .gridClubesNewells {
    width: 100%;
  }
  .gridClubesNewells .equipo {
    font-size: 30px !important;
    width: 100px;
    margin: 0px;
  }
  .gridClubesNewells .infonewells {
    padding-top: 10px;
  }
  .gridClubesNewells .infonewells .textoNewells {
    font-size: 15px;
    text-align: justify;
  }
  .newellsDiv {
    flex-direction: column;
  }
  .columnaTextoBarca {
    font-size: 15px;
  }
  .columnaTextoBarca .messiClub2 {
    height: 200px;
  }
  .columnaTextoBarca .messiClub1 {
    height: 200px;
  }
  .textoBarca {
    font-size: 16px;
    font-style: normal;
  }
  .messiFotosClubesBarca {
    display: none;
  }
  .parisTitulo {
    display: flex;
    justify-content: center;
  }
  .containerparis {
    flex-direction: column;
  }
  .containerparis .texotParis {
    font-size: 15px;
    padding: 5px;
  }
  .containerparis .fotosparis {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 280px;
  }
  .containerparis .fotosparis .messijugandopsg {
    height: 360px;
  }
  .desaparecer {
    display: none;
  }
}
.contactotitulo {
  text-align: center;
}

.contactoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactoDiv .formContacto {
  display: flex;
  flex-direction: column;
}
.contactoDiv .formContacto .contactoTitles {
  font-weight: bolder;
}
.contactoDiv .formContacto .inputsForm {
  border-radius: 10px;
}
.contactoDiv .formContacto .buttonForm {
  transition-duration: 0.4s;
  border-radius: 10px;
  border: solid black 1px;
  padding: 5px;
  margin: 3px;
}
.contactoDiv .formContacto .buttonForm:hover {
  background-color: #4a7cdf;
  color: white;
}

.cuerpo {
  animation-name: fade-in;
  animation-duration: 1s;
}

.info {
  padding: 50px;
}
.info .infogeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 50px;
}
.info .infogeneral .tituloArgentina {
  font-size: 25px;
  padding-bottom: 20px;
}
.info .infogeneral .informacionTextoSeleccion {
  font-size: 15px;
  padding-right: 90px;
  display: flex;
  flex-direction: column;
}
.info .imagenInfoGeneral {
  padding-top: 50px;
  height: 300px;
}

.tituloCopaAmerica {
  display: flex;
  justify-content: center;
}

.copaAmerica {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}
.copaAmerica .videoCopaAmerica {
  padding: 30px;
  height: 300px;
  width: 1500px;
}
.copaAmerica .informacionTextoSeleccion {
  font-size: 15px;
  padding-right: 90px;
  display: flex;
  flex-direction: column;
}

.carousel {
  background-image: linear-gradient(135deg, #465EFB 0%, #3B2667 100%);
  display: flex;
  justify-content: center;
}

.fotocol {
  display: flex;
  justify-content: center;
}
.fotocol .copaDelMundo {
  height: 400px;
}

.messiArgentina {
  background-image: linear-gradient(135deg, #465EFB 0%, #3B2667 100%);
  display: flex;
  width: 100%;
  justify-content: center;
}
.messiArgentina .letraBlanca {
  color: beige;
}
.messiArgentina .subtituloArgentina {
  padding: 50px;
}
.messiArgentina .textoSeleccion {
  padding: 160px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.messiArgentina .messiArgentinaseleccion {
  height: 900px;
  width: 400px;
  filter: brightness(90%);
}

@media screen and (max-width: 1440px) {
  .messiArgentina {
    height: 800px;
  }
  .messiArgentina .textoSeleccion {
    padding: 5px;
    width: 100%;
    height: 800px;
  }
  .messiArgentina .messiArgentinaseleccion {
    height: 800px;
  }
  .messiArgentina .textoSeleccion {
    padding: 160px;
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .messiArgentina {
    height: 700px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .messiArgentina .subtituloArgentina {
    font-size: 17px;
    margin: auto;
  }
  .messiArgentina .textoSeleccion {
    padding: 30px;
    font-size: 15px;
  }
  .messiArgentina .messiArgentinaseleccion {
    height: 100%;
  }
  .info {
    padding-bottom: 10px;
  }
  .info .infogeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .info .infogeneral .informacionTextoSeleccion {
    padding-right: 0;
    padding-left: 10px;
    width: 850px;
  }
  .copaAmerica {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
  }
  .copaAmerica .informacionTextoSeleccionAmerica p {
    padding: 40px;
  }
  .copaAmerica .videoCopaAmerica {
    height: 300px;
    width: 400px;
    padding: 30px;
  }
  .copaAmerica .informacionTextoSeleccion {
    font-size: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }
  .carouselSeleccion {
    width: 100%;
    margin: auto;
    height: 800px;
    align-items: center;
  }
  .carouselSeleccion .carouselFotoSeleccion {
    height: 800px;
    width: 100%;
  }
  .mundial .container .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .messiArgentina {
    display: flex;
    height: 650px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .messiArgentina .subtituloArgentina {
    padding: 0;
    padding-top: 10px;
    margin: auto;
  }
  .messiArgentina .textoSeleccion {
    padding: 30px;
    font-size: 17px;
  }
  .messiArgentina .messiArgentinaseleccion {
    display: none;
  }
  .info {
    padding-bottom: 10px;
  }
  .info .infogeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .info .infogeneral .informacionTextoSeleccion {
    padding-right: 0;
    padding-left: 10px;
    width: 600px;
  }
  .info .infogeneral .fotosMessiGeneral {
    display: flex;
  }
  .info .infogeneral .fotosMessiGeneral .imagenInfoGeneral {
    height: 120px;
    width: 70%;
    flex-direction: column;
    padding: 5px;
  }
  .copaAmerica {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
  }
  .copaAmerica .informacionTextoSeleccionAmerica p {
    padding: 40px;
  }
  .copaAmerica .videoCopaAmerica {
    height: 300px;
    width: 400px;
    padding: 30px;
  }
  .copaAmerica .informacionTextoSeleccion {
    font-size: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }
  .carouselSeleccion {
    width: 100%;
    margin: auto;
    height: 800px;
    align-items: center;
  }
  .carouselSeleccion .carouselFotoSeleccion {
    height: 800px;
    width: 100%;
  }
  .mundial .container .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  .textoSeleccion {
    padding: 0;
    font-size: 13px !important;
  }
  .messiArgentina {
    flex-direction: flex;
  }
  .messiArgentina .subtituloArgentina {
    display: none;
  }
  .messiArgentina .messiArgentinaseleccion {
    margin: auto;
  }
  .info {
    padding-bottom: 10px;
  }
  .info .infogeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .info .infogeneral .informacionTextoSeleccion {
    padding-right: 0;
    padding-left: 10px;
    width: 400px;
  }
  .info .infogeneral .fotosMessiGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info .infogeneral .fotosMessiGeneral .imagenInfoGeneral {
    height: auto;
    width: 320px;
    padding: 0;
  }
  .carouselSeleccion {
    width: 100%;
    margin: auto;
    height: 500px;
  }
  .carouselSeleccion .carouselFotoSeleccion {
    height: 500px;
    width: 100%;
  }
  .mundial .container .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .messiArgentina {
    flex-direction: column;
    width: 375px;
  }
  .messiArgentina .subtituloArgentina {
    padding: 0;
    padding-top: 10px;
    margin: auto;
  }
  .messiArgentina .textoSeleccion {
    padding: 50px;
    font-size: 12px !important;
  }
  .messiArgentina .messiArgentinaseleccion {
    margin: auto;
    width: 375px;
  }
  .info {
    padding-bottom: 10px;
  }
  .info .infogeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .info .infogeneral .informacionTextoSeleccion {
    padding-right: 0;
    padding-left: 10px;
    width: 350px;
  }
  .info .infogeneral .imagenInfoGeneral {
    width: 375px;
  }
  .info .informacionTextoSeleccionAmerica {
    padding-right: 10px;
  }
  .copaAmerica {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    height: 700px;
  }
  .copaAmerica .videoCopaAmerica {
    height: 300px;
    width: 300px;
    padding: 30px;
  }
  .copaAmerica .informacionTextoSeleccion {
    font-size: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }
  .carouselSeleccion {
    width: 100% !important;
    margin: auto;
    height: 400px !important;
  }
  .carouselSeleccion .carouselFotoSeleccion {
    height: 400px !important;
    width: 100% !important;
  }
  .mundial .container .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .messiArgentina {
    flex-direction: column;
    width: 320px;
  }
  .messiArgentina .subtituloArgentina {
    padding: 0;
    padding-top: 10px;
    margin: auto;
  }
  .messiArgentina .textoSeleccion {
    padding: 30px;
    font-size: 11px !important;
  }
  .messiArgentina .messiArgentinaseleccion {
    margin: auto;
    width: 320px;
  }
  .info {
    padding-bottom: 10px;
  }
  .info .infogeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .info .infogeneral .informacionTextoSeleccion {
    padding-right: 0;
    padding-left: 10px;
    width: 300px;
  }
  .info .infogeneral .imagenInfoGeneral {
    width: 320px;
  }
  .info .informacionTextoSeleccionAmerica {
    padding-right: 10px;
  }
  .copaAmerica {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    height: 800px;
  }
  .copaAmerica .videoCopaAmerica {
    height: 300px;
    width: 300px;
    padding: 30px;
  }
  .copaAmerica .informacionTextoSeleccion {
    font-size: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }
  .carouselSeleccion {
    width: 100% !important;
    margin: auto;
    height: 400px !important;
  }
  .carouselSeleccion .carouselFotoSeleccion {
    height: 400px !important;
    width: 100% !important;
  }
  .mundial .container .row {
    flex-direction: column;
  }
}
.tituloClubes {
  font-size: 20px;
}

.tituloSeleccion {
  font-size: 20px;
}

.tituloPersonales {
  font-size: 20px;
}

.carousel {
  background-image: linear-gradient(135deg, #465EFB 0%, #3B2667 100%);
  display: flex;
  justify-content: center;
}
.carousel .carouselFoto {
  object-fit: cover;
  height: auto;
  width: 100%;
}

.titulostotales {
  font-size: 1fr;
}

.container {
  padding: 38px;
}

/*# sourceMappingURL=estilos.css.map */
