.equiposMain {
    animation-name: fade-in;
    animation-duration: 1s;

    .grid_listaEquipos {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        grid-template-areas:
            "tituloequipo tituloequipo"
            "equipostres equipostres";
        background-image: url("../img/fondo.jpg");
        background-position: center;
        width: 100%;

        .equipos1 {
            grid-area: tituloequipo;

            .equiposClass {
                font-family: 'Libre Franklin', sans-serif;

                color: whitesmoke;
                display: flex;
                justify-content: center;
            }
        }

        .equipos2 {
            grid-area: equipostres;
            display: flex;
            justify-content: center;

            ul {
                display: flex;
                flex-direction: row;

                li {
                    display: flex;
                    justify-content: center;
                    flex-direction: space-around;
                    padding-right: 150px;
                    color: whitesmoke;

                    a {
                        color: whitesmoke
                    }
                }
            }
        }
    }

    .equipo {
        font-size: 30px;
        width: auto;
        font-style: italic;
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .messijoven {
        height: 400px;
        margin: auto;
        display: flex;
    }

    .columnaTextoBarca {
        font-size: 20px;

        .texto_leo {
            padding: 10px;
        }

        .messiClub1 {
            height: 300px;
        }

        .messiClub2 {
            height: 300px;
        }

        .messiClub3 {
            height: 400px;
            margin: auto;
            display: flex;
        }

        .messiFotosClubesBarca {
            text-align: center;
        }
        .messijovenDiv{
            display: flex;
            justify-content: space-around;
        }
    }

    .newellsTitulo {
        margin: auto;
    }

    .infonewells {
        margin: auto;
        padding-top: 100px;
        text-align: justify;
    }

    .messiParisFirma {
        height: 450px;
    }

    .messijugandopsg {
        height: 450px;
    }

    .messinewellscomienzo {
        height: 300px;
    }
}

@media screen and (max-width:1440px) {
    .equiposMain {
        animation-name: fade-in;
        animation-duration: 1s;

        .grid_listaEquipos {
            width: 100%;
        }

        .clubesTituloInicio {
            width: 100%;
        }

        .gridClubesNewells {
            width: 1400px;

            .newellsDiv {
                flex-direction: column;
            }

            .equipo {
                font-size: 20px;
                width: 100px;
                margin: 0px;
            }

            .fotonewells1 {
                display: none;
            }

            .messinewellscomienzo {
                height: auto;
            }

            .infonewells {
                padding-top: 10px;

                .texto_leo {
                    font-size: 20px;
                    text-align: justify;

                }
            }
        }

        .columnaTextoBarca {
            font-size: 15px;

            .texto_leo {
                font-size: 20px;
            }

            .messijoven {
                display: inline;
                margin: 25px;
            }

            .textoBarca {
                font-size: 15px;
                padding: 5px;
                padding-bottom: 10px;
            }

            .messijovenDiv {
                width: auto;
            }

            .messiClub2 {
                height: 100px;
            }

            .messiClub1 {
                height: 200px;
            }

            .messiFotosClubesBarca {
                display: none;
            }
        }

        .containerparis {
            flex-direction: column;
            .texto_leo{
                font-size: 20px;
            }
            .containerparis1 {
                .containerparis {

                    .leo_texto {
                        font-size: 20px;
                        padding: 5px;
                    }
                }
            }

            .fotosparis {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            .messijugandopsg {
                height: 450px;
                width: 360px;
                margin: 10px;
            }

            .messiParisfirmando {
                display: none;
            }
        }

        .parisTitulo {
            display: flex;
            justify-content: center;
        }

        .desaparecer {
            display: none;
        }
    }
}



// 
// 
@media screen and (max-width:1024px) {
    .columnaparis {
        .texto_leo {
            font-size: 22px;
            padding: 5px;
        }
    }

    .textoBarca {
        .texto_leo {
            font-size: 20px;
            padding: 5px;
        }
    }

}


@media screen and (max-width:768px) {
    .desaparecer768 {
        display: none !important;
    }

    .grid_listaEquipos {
        width: 100%;
    }

    .clubesTituloInicio {
        width: 100%;
    }

    .gridClubesNewells {
        width: 700px;

        .newellsDiv {
            flex-direction: column;
        }

        .equipo {
            font-size: 20px;
            width: 100px;
            margin: 0px;
        }

        .fotonewells1 {
            display: none;
        }

        .messinewellscomienzo {
            height: auto;
        }

        .infonewells {
            padding-top: 10px;

            .textoNewells {
                font-size: 15px;
                text-align: justify;

            }
        }
    }

    .columnaTextoBarca {
        font-size: 15px;

        .messijoven {
            display: inline;
            margin: 25px;
        }

        .textoBarca {
            font-size: 15px;
            padding: 5px;
            padding-bottom: 10px;
        }

        .messijovenDiv {
            width: auto;
        }

        .messiClub2 {
            height: 100px;
        }

        .messiClub1 {
            height: 200px;
        }

        .messiFotosClubesBarca {
            display: none;
        }
    }

    .containerparis {
        flex-direction: column;

        .texto_leo {
            font-size: 20px;
            padding: 5px;
        }

        .fotosparis {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .messijugandopsg {
            height: 450px;
            width: 360px;
            margin: 10px;
        }

        .messiParisfirmando {
            display: none;
        }
    }

    .parisTitulo {
        display: flex;
        justify-content: center;
    }

    .desaparecer {
        display: none;
    }
}

// 
// 
@media screen and (max-width:425px) {
    .equiposMain {
        .grid_listaEquipos {
            width: 426px;
        }

        .clubesTituloInicio {
            width: 300px;
        }

        .gridClubesNewells {
            width: 400px;

            .messinewellscomienzo {
                height: 350px;
            }

            .equipo {
                font-size: 20px;
                width: 100px;
                margin: 0px;
            }

            .messinewellscomienzo {
                height: 300px;
            }

            .infonewells {
                padding-top: 10px;

                .textoNewells {
                    font-size: 15px;
                    text-align: justify;

                }
            }

            .newellsDiv {
                flex-direction: column;
            }
        }
    }

    .columnaTextoBarca {
        font-size: 15px;

        .textoBarca {
            font-size: 15px;
            padding: 5px;
            padding-bottom: 10px;
        }

        .messiClub2 {
            height: 100px;
        }

        .messiClub1 {
            height: 200px;
        }

        .messiFotosClubesBarca {
            display: none;
        }
    }

    .containerparis {
        flex-direction: column;

        .texotParis {
            font-size: 15px;
            padding: 5px;
        }

        .fotosparis {
            display: flex;
            flex-direction: row;

            .messijugandopsg {
                width: 300px;
            }

            .messiParisFirma {
                width: 300px;
            }
        }

        .messiParisfirmando {
            display: none;
        }
    }

    .parisTitulo {
        display: flex;
        justify-content: center;
    }

    .desaparecer {
        display: none;
    }
}

// 
// 
@media screen and (max-width:375px) {
    .equiposMain {
        .grid_listaEquipos {
            width: 100%;
        }

        .clubesTituloInicio {
            width: 300px;
        }

        .gridClubesNewells {
            width: 320px;

            .messinewellscomienzo {
                height: 320px;
            }

            .equipo {
                font-size: 20px;
                width: 100px;
                margin: 0px;
            }

            .infonewells {
                padding-top: 10px;

                .textoNewells {
                    font-size: 15px;
                    text-align: justify;

                }

            }

            .newellsDiv {
                flex-direction: column;
            }
        }


        .columnaTextoBarca {
            font-size: 15px;

            .messiClub2 {
                height: 200px;
            }

            .messiClub1 {
                height: 200px;
            }

            .textoBarca {
                font-size: 15px;
                padding: 5px;
                padding-bottom: 10px;
            }
        }

        .messiFotosClubesBarca {
            display: none;
        }

        // 
        .parisTitulo {
            display: flex;
            justify-content: center;
        }

        .containerparis {
            width: 320px;

            .texotParis {
                width: 320px;
                font-size: 15px;
                padding: 5px;
            }

            .fotosParisDiv {
                margin: auto;
                padding: auto;

                .fotosparis {
                    flex-direction: row;
                    flex-wrap: nowrap;
                }

                .messiParisFirma {
                    display: none;
                }
            }
        }

        .desaparecer {
            display: none;
        }
    }
}

// 
// 
@media screen and (max-width:320px) {
    .equiposMain {
        .columnaparis {
            padding: 0;
        }

        .containerparis1 {
            padding: 0 !important;
        }

        .desaparecer {
            display: none !important;
        }

        .grid_listaEquipos {
            width: 100%;
        }

        .clubesTituloInicio {
            width: 300px;
        }

        .gridClubesNewells {
            width: 320px;

            .messinewellscomienzo {
                height: 320px;
            }

            .equipo {
                font-size: 30px !important;
                width: 100px;
                margin: 0px;
            }

            .infonewells {
                padding-top: 10px;

                .textoNewells {
                    font-size: 15px;
                    text-align: justify;

                }
            }
        }

        .newellsDiv {
            flex-direction: column;
        }

        .columnaTextoBarca {
            font-size: 15px;

            .texto_leo {
                padding: 10px;
            }

            .messiClub2 {
                height: 200px;
            }

            .messiClub1 {
                height: 200px;
            }
        }

        .textoBarca {
            font-size: 16px;
            font-style: normal;
        }

        .messiFotosClubesBarca {
            display: none;
        }

        // 
        .parisTitulo {
            display: flex;
            justify-content: center;
        }

        .containerparis {
            flex-direction: column;

            .texto_leo {
                font-size: 20px;
                padding: 20px;
            }

            .fotosparis {
                height: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 280px;

                .messijugandopsg {
                    height: 360px;
                }
            }
        }

        .desaparecer {
            display: none;
        }
    }
}