a {
    text-decoration: none;
}

.logoMessi {
    height: 100px;
}

li:hover {
    transform: scale(1.2);
}

li a:after {
    content: '';
    position: relative;
    background-color: rgb(9, 153, 215);
    height: 3px;
    width: 0;
    display: block;
    transition: 0.3s;
}

a:hover:after {
    color: rgb(9, 153, 215);
    width: 100%;
}